
:root{
  --light:#f5f5f5;
  --darker:#333333;
  --dark:#444444;
  --yellow: rgb(255, 208, 0);
}
* {
  text-shadow: .5px .5px  black;

}
button:focus{
  transform: scale(.9);
}
body{
  background-color: var(--darker) !important;

  color: aliceblue !important;

}

.dark-bg{
  background-color: var(--dark);
}
.darker-bg{
  background-color: var(--darker);
}
.cont{
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom:2% ;
  background-color: var(--dark);
  box-shadow: 2px 2px 10px var(--light);
}
.nav li a{
  margin: 2rem;
  font-size: 2rem;
  text-decoration: none;
  color: var(--color);
}
.nav li a:hover{
  font-size: 2.1rem;
}
.outlet{
  padding: 2%;

}
.home-body{
  display: flex;
  
}
.home-main h2{
line-height: 1.5;
font-size: 1.9rem;
}
.home-body img {
  width: 45%;
  border-radius: 20px;
  margin-right: 3%;
  box-shadow: 1px 1px 5px var(--light);

}
.home-body img:hover{
  transform: translateY(-5px);
  box-shadow: none;
}
.key-features {
  width: 50%;
  padding: 2%;
  border-radius: 20px;
  box-shadow: 1px 1px 5px var(--light) inset;
}
.key-features li {
font-size: 1.5rem;
}
.key-features h3{
  text-align: center;
  color: var(--yellow)
}
.home-sign h3{
text-align: center;
color: var(--yellow);
font-size: 1.9rem;
}
.sign-cont{
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
.sign-cont button {
  width: 6rem;
}
.return{
  margin-right: 2%;
  border-radius: 20px;
}
.existing{
  border-radius: 20px;
}
.existing button{
  background-color: var(--yellow);

}
#login{
  background-color: var(--dark);
  color: var(--light);
  box-shadow: 1px 1px 3px var(--light) inset;
}
.card-header{
  background-color: var(--darker) !important;
  box-shadow: 1px 1px 3px var(--light) inset;

}
#sign-up{
  background-color: var(--dark);
  color: var(--light);
  box-shadow: 1px 1px 3px var(--light) inset;}

 .budget-container form{
width: 50%;
padding: 2%;
margin: 0 auto;
 }
 .budget-container h3{
width: 20%;
margin: 2%;
border: 1px solid white;
font-size: 2rem;
 }
#budget{
  margin-right: 1%;
  border-radius: 20px;
  text-align: center;
  width: 60% !important;
  font-size: 1.5rem;
  box-shadow: 1px 1px 5px var(--light);
  
}
.budget-price{
  font-size: 1.5rem;
  text-align: center;
  color: rgb(0, 242, 0);
}
.description-container{
  margin: 2%;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: var(--dark);
  box-shadow: 1px 1px 5px var(--dark);

  
}
.description-container h3{
  width: 24.5%;
  margin-left: .5%;
  text-align: center;
color: var(--yellow);

}
.expenses-loop{

  margin: 2%;
}
.expense-row{
  display: flex;
  text-decoration: none;
  margin-top: 1%;
  justify-content: space-between;
}
.expense-row p {
  background-color: var(--dark);
box-shadow: 1px 1px 5px inset var(--light);
  width: 24.5%;
text-align: center;
border-radius: 20px;
padding: 1%;
margin-left: .5%;
overflow: scroll;
color: var(--light);
}
.expense-row:hover{
  transform: scale(1.01);

}

.remaining-balance{
  text-align: right;
  margin-right: 2%;
}
.remaining-balance h3 {
  font-size: 2rem;
}

.remaining-balance span {
  font-size: 2.5rem;
  color: rgb(0, 242, 0);

}
.expenses-form{
  margin-left: 2%;
  display: flex;
  flex-wrap: wrap;

}
.expenses-form h4 {

  width: 100%;
}
.expenses-form-input{
  width: 85% !important;
}

.expenses-form input {
  padding: 1%;
  width: 25%;
  margin-right: 3%;
  border-radius: 20px;
  box-shadow: 1px 1px 5px var(--light);
}
.welcome-container {
  display: flex !important;
  justify-content: center;
}
.welcome-container h3{
  width: 100%;
  font-size: 1.5rem;
  margin-right: 200px;
}
.amount-money {
  color: #ff4545;
}
.expense-update{
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 1%;
  
}
.expense-update input{
width: 25%;
height: 5rem;
padding: 2%;
margin-right: 1%;
border-radius: 20px;
box-shadow: 1px 1px 3px var(--light);

}
.update-delete-btn{
  width: 100%;
  
}
.update-delete-btn button {
  margin: 1%;
  width: 5rem;
}

@media screen and (max-width:640px){
.cont .nav{
  flex-direction: column;
  
}
.nav li a{
  margin: 3%;
  font-size: 1.5rem;
}
.nav li a:hover {
  font-size: 1.6rem;
}
.home-body{
  flex-direction: column;
}
.home-body img {
  width: 80%;
  margin:2% auto ;
}
.key-features {
  width: 80%;
  margin: 1% auto;
}
.key-features li{
font-size: 1.1rem;
}
.budget-container form {
  text-align: center;
  width: 60%;

}
.budget-container h2{
  font-size: 1.2rem;
}
.budget-container input{
  width: 100%;
  font-size: 1.1rem !important;
  margin-bottom: 2%;
}
.btn {
  font-size: 1rem !important;
}
.welcome-container{
  display: flex;

  flex-direction: column-reverse;
}
.welcome-container h3 {
  font-size: 1.5rem;
}
.description-container h3{
  font-size: 1rem;
}
.expense-row p{
  font-size: .5rem;
  text-align: center;
  align-self: center;
}

.remaining-balance h3{
  font-size: 1.2rem;
}
.remaining-balance span{
  font-size: 1.5rem;
}
.expenses-form{
  display: flex;
  flex-wrap: wrap;
}
.expenses-form h4 {
  display: block;
  width: 100%;
  font-size: 1rem !important;
}
.expenses-form input {
  width: 25% !important;
  margin-right: 5%;
  margin-bottom: 2%;
}
.expenses-form-input{
  width: 100% !important;
}
.expenses-form button {
  display: block !important;
  width: 100%;
  margin: 0 auto;
  font-size: 1rem !important;
}

}