


:root {
  --light: #f5f5f5;
  --darker: #1e2a38;
  --dark: #2d3e4e;
  --yellow: rgb(255, 208, 0);
}


* {
  text-shadow: 0.5px 0.5px black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:focus {
  transform: scale(0.9);
}

body {
  background-color: var(--darker) !important;
  color: aliceblue !important;
}

.dark-bg {
  background-color: var(--dark);
}

.darker-bg {
  background-color: var(--darker);
}

.cont {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: var(--dark);
  box-shadow: 2px 2px 10px var(--light);
}

nav li button {
  margin-top: 5% !important ;
}

.nav li a {
  align-items: center;
  margin: 2rem;
  font-size: 2rem;
  text-decoration: none;
  color: var(--yellow);
}

.nav li a:hover {
  font-size: 2.1rem;
}

.outlet {
  padding: 2%;
  margin-bottom: 2%;
  min-height: 100vh !important;
}

.home-body {
  display: flex;
}

.home-main h2 {
  line-height: 1.5;
  font-size: 1.9rem;
}

.home-body img {
  width: 45%;
  border-radius: 20px;
  margin-right: 3%;
  box-shadow: 1px 1px 5px var(--light);
}

.home-body img:hover {
  transform: translateY(-5px);
  box-shadow: none;
}

.key-features {
  width: 50%;
  padding: 2%;
  border-radius: 20px;
  box-shadow: 1px 1px 5px var(--light) inset;
}
.key-features span {
  color: rgb(163, 163, 163);
}

.key-features li {
  font-size: 1.5rem;
  margin-bottom: 1%;
}

.key-features h3 {
  text-align: center;
  color: var(--yellow);
}

.home-sign h3 {
  text-align: center;
  color: var(--yellow);
  font-size: 1.9rem;
}

.sign-cont {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
.existing{
  width: 25%;
}
.return{
  width: 25%;
}

.sign-cont button {
  width: 6rem;
}

.return {
  margin-right: 2%;
  border-radius: 20px;
}

.existing {
  border-radius: 20px;
}

.existing button {
  background-color: var(--yellow);
}

#login {
  background-color: var(--dark);
  color: var(--light);
  box-shadow: 1px 1px 3px var(--light) inset;
}

.card-header {
  background-color: var(--darker) !important;
  box-shadow: 1px 1px 3px var(--light) inset;
}
.username-welcome{
  font-size: 3rem;
}

#sign-up {
  background-color: var(--dark);
  color: var(--light);
  box-shadow: 1px 1px 3px var(--light) inset;
}

.budget-container {}

.budget-container form {
  text-align: center;
  width: 50%;

  margin: 3% auto;
}

.budget-container h3 {
  width: 20%;
  margin: 2%;
  border: 1px solid white;
  font-size: 2rem;
}

#budget {
  margin-right: 1%;
  border-radius: 20px;
  text-align: center;
  width: 60% !important;
  font-size: 1.5rem;
  box-shadow: 1px 1px 5px var(--light);
}
.current-h3{
  font-size: 2rem !important;
}

.budget-price {
  font-size: 2rem;
  text-align: center;
  color: rgb(50, 205, 50); /* Lime Green */
}

.description-container {
  margin: 2%;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: var(--dark);
  box-shadow: 1px 1px 5px var(--dark);
}

.description-container h3 {
  width: 24.5%;
  margin-left: 0.5%;
  text-align: center;
  color: var(--yellow);
}

.expenses-loop {
  margin: 2%;
}

.expense-row {
  display: flex;
  text-decoration: none;
  margin-top: 1%;
  justify-content: space-between;
}

.expense-row p {
  background-color: var(--dark);
  box-shadow: 1px 1px 5px inset var(--light);
  width: 24.5%;
  text-align: center;
  border-radius: 20px;
  padding: 1%;
  margin-left: 0.5%;
  overflow: scroll;
  color: var(--light);
}

.expense-row:hover {
  transform: scale(1.01);
}

.remaining-balance {
  text-align: right;
  margin-right: 2%;
}

.remaining-balance h3 {
  font-size: 2rem;
}

.remaining-balance span {
  font-size: 2.5rem;
  color: rgb(50, 205, 50); /* Lime Green */

}

.expenses-form {
  margin-left: 2%;
  display: flex;
  flex-wrap: wrap;
  
}



.expenses-form div {
  width: 50%;
  margin-bottom: 1%;
  text-align: left;
}
.expenses-form label{
  text-align: left;
  width: 15%;
}


.expenses-form input {
  padding: 1%;
  width: 65%;
  margin-right: 3%;
  border-radius: 20px;
  box-shadow: 1px 1px 5px var(--light);
}
.expenses-form-btn{
  width: 6rem;
}

.welcome-container {
  display: flex !important;
  justify-content: center;
}

.welcome-container h3 {
  width: 100%;
  font-size: 1.5rem;
  margin-right: 200px;
}

.amount-money {
  color: rgb(255, 0, 0);
}

.expense-update {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 1%;
}

.expense-update input {
  color: var(--darker);
  width: 25%;
  height: 5rem;
  padding: 2%;
  margin-right: 1%;
  border-radius: 20px;
  box-shadow: 1px 1px 3px var(--light);
}

.update-delete-btn {
  width: 100%;
}

.update-delete-btn button {
  margin: 1%;
  width: 5rem;
}

#exceeded {
  color: red;
}
.error-cont {
  width: 50%;
  
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Center the element horizontally and vertically */
display: flex;
justify-content: center;
}
footer {
  
  background-color: var(--dark);
  box-shadow: 1px 1px 5px;
  padding: 3%;
  text-align: center;
}


@media screen and (max-width: 991px) {
  .cont .nav {
    flex-direction: column;
  }

  .nav li a {
    margin: 3%;
    font-size: 1.5rem;
  }

  .nav li a:hover {
    font-size: 1.6rem;
  }

  .home-body {
    flex-direction: column;
  }
  .home-main h2 {
    font-size: 1.2rem;
  }

  .home-body img {
    width: 90%;
    margin: 2% auto;
  }

  .key-features {
    width: 90%;
    margin: 1% auto;
  }

  .home-sign h3{
    font-size: 1.2rem;
  }
  .key-features li {
    font-size: 1.1rem;
  margin-bottom: 5%;

  }
  .existing {
    width: 45%;
  }
  .return {
    width: 45%;
  }

  .budget-container form {
    text-align: center;
    width: 60%;
    
  }

  .budget-container h2 {
    font-size: 1.2rem;
  }

  .budget-container input {
    width: 100%;
    font-size: 1.1rem !important;
    margin-bottom: 2%;
  }

  .btn {
    font-size: 1rem !important;
  }

  .welcome-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .welcome-container h3 {
    font-size: 1.5rem !important;
  }
.username-welcome{
  font-size: 2.3rem;
}
  .description-container h3 {
    font-size: 0.85rem;
  }

  .expense-row p {
    font-size: 0.8rem;
    text-align: center;
    align-self: center;
  }

  .remaining-balance h3 {
    font-size: 1.2rem;
  }

  .remaining-balance span {
    font-size: 1.5rem;
  }

  .expenses-form {
    display: flex;
    flex-wrap: wrap;
  }

  .expenses-form  div{
    width: 100%;
    margin-bottom: 2%;
  }
  .expenses-form label{
    width: 30%;
  }
  

  .expenses-form input {
    width: 65% !important;
    margin-right: 5%;
    margin-bottom: 2%;
  }



  .expenses-form-btn {
    display: block !important;
    width: 100%;
    margin: 5% auto;
    font-size: 1rem !important;
  }

  .expense-update input {
    width: 30%;
    font-size: 0.7rem;
  }

  #exceeded {
    font-size: 1rem;
  }

  .warning {
    font-size: 0.6rem;
  }
}

@media (min-width: 1440px) {
  html {
    zoom: 1.2;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}
